---
layout: default
---

<div class="post">


<div class="date">
  <span class="day">{{ page.date | date: "%d" }}</span>
  <span class="month">{{ page.date | date: "%b" }}</span>
  <span class="year">{{ page.date | date: "%Y" }}</span>
</div>
<!-- <div class="comments_div">
<span class="comments_date"><a  href="http://juliengarcia.github.io{{ post.url }}#disqus_thread"></a></span>
</div> -->
    <h1 class="post-title">

      <span class="circular_code"> </span>
      <span >

        <a href="{{ page.url }}">
        {{ page.title }}
      </a></span>
    </h1>
    <span class="post-tagline">{{ page.tagline }}</span>

    {% for tag in page.tags %}
      <div id="circular_tag" class="{{ tag | downcase}}_tag" ></div>
     {% endfor %}

    {{ content }}
  </div>
  <span class="sharing_social">
    <a class="btn btn-primary" href="http://twitter.com/intent/tweet?text='{{ page.title }}'&url={{ site.url }}{{ page.url }} ">Tweet it</a> | <a class="btn btn-primary" href="http://facebook.com/sharer.php?u={{ site.url }}{{ page.url }} ">Like it</a> | <a class="btn btn-primary" href="https://plus.google.com/share?url={{ site.url }}{{ page.url }} ">+1</a>
  </span>
  {% include comments.html %}
<!-- <div class="post">
  <div class="date">
  <span class="day">{{ page.date | date: "%d" }}</span>
  <span class="month">{{ page.date | date: "%b" }}</span>
  <span class="year">{{ page.date | date: "%Y" }}</span>
</div>
  <h1 class="post-title">{{ page.title }}</h1>
  <div class="comments_date"><a  href="http://juliengarcia.github.io{{ page.url }}#disqus_thread " data-disqus-identifier='{{ page.disqus_identifier }}'></a></div>
  {{ content }}
  {% include comments.html %}
</div> -->

<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>


